<div class="container d-flex justify-content-center mt5">


     <form method="post" enctype="multipart/form-data" class="d-flex justify-content-end" style="max-width: 500px;">
    <div>
        <div class="mb-3 text-start">
            <label class="form-label">Fotoğraf Ekle</label>
                <input type="file" accept="image/*" class="form-control" name="formFile" multiple>
        </div>
        <div class="mb-3 text-start">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" name="Title" >
        </div>
        <div class="mb-3 text-start">
            <label class="form-label">Tags</label>
            <input type="text" class="form-control" name="Tags">
        </div>
        <div class="w-100 text-end">
            <button type="submit" class="btn btn-primary">Save</button>

        </div>
    </div>

    </form>
   
</div>
