@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex justify-content-center mt5">
 
    <div class="text-center">
        <h1> Welcome To Your Favorite Website</h1>
        <h3 class="p-4"><a href="/Home/MyPhotos/" style="text-decoration:none;">My Photos</a></h3>
    </div>
</div>


